@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   transition: 2s;

}
body.dark{
    background-color: #31363F;
    color:aliceblue;
}

.info-block{
    background-color: rgb(236, 236, 236);
    border-radius: 1em;
    position: relative;
    transition: 0.5s;
}
.info-block:hover{
    border: 2px rgb(85, 108, 240) solid;
    transform: translateY(-10px);
    img{
        opacity:0.5; 
    }
}
.info-block.dark{
    background: #52585f;
}